@import "tailwindcss";

:root {
    /* richblack */
    --richblack-5: #F1F2FF;
    --richblack-25: #DBDDEA;
    --richblack-100: #AFB2BF;
    --richblack-200: #999DAA;
    --richblack-700: #2C333F;
    --richblack-800: #161D29;
    --richblack-900: #000814;

    /* blue */
    --blue-100: #47A5C5;

    /* pink */
    --pink-200: #EF476F;

    /* yellow */
    --yellow-50: #FFD60A;
}
@theme {
    --font-display: "Satoshi", "sans-serif";
    --breakpoint-3xl: 120rem;
    --color-richblack-5:   oklch(0.96 0.02 265);
    --color-richblack-25:  oklch(0.88 0.03 265);
    --color-richblack-100: oklch(0.75 0.04 265);
    --color-richblack-200: oklch(0.68 0.04 265);
    --color-richblack-700: oklch(0.35 0.04 265);
    --color-richblack-800: oklch(0.25 0.03 265);
    --color-richblack-900: oklch(0.12 0.02 265);
    --color-blue-100: oklch(0.67 0.13 225);
    --color-pink-200: oklch(0.62 0.22 25);
    --color-yellow-50: oklch(0.88 0.18 95);

    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}